{{#if entries.length}}
<ol class="raise-my-hand-queue-list">
  {{#each entries}}
  <li class="queue-entry">
    <span class="queue-position">{{position}}.</span>
    <span class="queue-name">{{name}}</span>
    {{#if canRemove}}
    <button type="button" class="queue-remove" data-action="removeFromQueue" data-user-id="{{userId}}" title="{{localize "raise-my-hand.queue.removeTooltip"}}">
      <i class="fas fa-times"></i>
    </button>
    {{/if}}
  </li>
  {{/each}}
</ol>
{{else}}
<p class="queue-empty">{{localize "raise-my-hand.queue.empty"}}</p>
{{/if}}
